<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation bar</title>
</head>
<body>
<h1 style="color:Green">This is the navigation bar</h1>
<h2 style="color:Blue">
    <a href="https://leads.hdfcbank.com/applications/webforms/apply/anaccounts.asp">HDFC </a><br>
    <a href="https://www.youtube.com/watch?v=lcpqpxVowU0&list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9&index=12">YouTube</a><br>
    <a href="https://www.w3schools.com/html/html_colors.asp">W3 School</a><br>
</h2>
</body>
</html>